.gradient-custom {
/* fallback for old browsers */
background: #01dfd9;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(1,223,217), rgba(0,43,255));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(1,223,217), rgba(0,43,255))
}

.post-gradient {
/* fallback for old browsers */
background: #f7f7f7;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(247,247,247), rgba(229,229,229));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(247,247,247), rgba(229,229,229))
}


.circle-image {
    border-radius: 50%;
  }

