{% extends 'base.html' %}

{% block body %}

    <div class = 'container mt-3'>
        <div class="row d-flex justify-content-center align-items-center pt-3">
            <div class = 'col col-lg-8 mb-4 mb-lg-0'>
                <h1 style="color: #006bff">Comunidade Impressionadora</h1>
                <h2>Alunos Experts e a galera da Hashtag em um só lugar</h2>
                <hr>
                {% for post in posts %}
                    <div class="row border border-1 border-primary my-4 p-3 post-gradient">
                        <div class="col col-2">
                            <div class="col text-center">
                                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.author.profile_photo)) }}" alt="Avatar" class="img-fluid my-4 circle-image" style="width: 100px;" /><br>
                                <strong>{{ post.author.username }}</strong>

                                <div class="row justify-content-center">
                                    {% if 'Não informado' in post.author.cursos or post.author.cursos == '' %}
                                        <br>
                                    {% else %}
                                        {% for curso in post.author.cursos.split(';') %}
                                            <button type="button" class="btn btn-primary mb-2 me-1" disabled>{{ curso }}</button>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <div class="col col-10">
                            <div class="row">
                                <div class="col-6">
                                    <h4>
                                        {{ post.titulo }}
                                    </h4> 
                                </div>
                                <div class="col-4">
                                    <small class="text-muted" style="font-size: 15px">Ultima Atualização: {{ post.data_criacao.strftime('%d/%m/%Y') }}</small>
                                </div>
                                {% if post.author == current_user %}
                                    <div class="col d-flex justify-content-end">
                                        <a href="{{ url_for('exibir_post', post_id=post.id) }}" class="border-0 fs-5">
                                            <i class="bi bi-pen"></i>
                                        </a>
                                        <a href="!#" class="border-0 ps-2 text-danger fs-5" data-bs-toggle="modal" data-bs-target="#excluirPost">
                                            <i class="bi bi-trash3" style="height: 20px;"></i>
                                        </a>
                                    </div>
                                    <div class="modal fade" id="excluirPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Excluir Post</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Você realmente deseja excluir esse Post? (Essa ação não pode ser desfeita).
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
                                                        <button type="submit" class="btn btn-danger">Excluir</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div>

                                </div>
                            </div>
                            <div class="pt-3"><p>{{ post.corpo }}</p></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}