{% extends 'base.html' %}

{% block body %}

    <div class = 'container mt-3'>
        <div class="row d-flex justify-content-center align-items-center pt-3">
            <div class = 'col col-lg-8 mb-4 mb-lg-0'>
                <h1 style="color: #006bff">Comunidade Impressionadora</h1>
                <h2>Alunos Experts e a galera da Hashtag em um só lugar</h2>
                <hr>
                {% for post in posts %}
                    <div class="row border border-1 border-primary my-4 p-3 post-gradient">
                        <div class="col col-2">
                            <div class="col text-center">
                                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.author.profile_photo)) }}" alt="Avatar" class="img-fluid my-4 circle-image" style="width: 100px;" /><br>
                                <strong>{{ post.author.username }}</strong>

                                <div class="row justify-content-center">
                                    {% if 'Não informado' in post.author.cursos or post.author.cursos == '' %}
                                        <br>
                                    {% else %}
                                        {% for curso in post.author.cursos.split(';') %}
                                            <button type="button" class="btn btn-primary mb-2 me-1" disabled>{{ curso }}</button>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <div class="col col-10">
                            <div class="row">
                                <div class="col">
                                    <h3>{{ post.titulo }}</h3>
                                </div>
                                {% if post.author == current_user %}
                                    <div class="col d-flex justify-content-end">
                                        <a href="{{ url_for('exibir_post', post_id=post.id) }}" class="border-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </a>
                                    </div>
                                {% endif %}
                                <div>

                                </div>
                            </div>
                            <p>{{ post.corpo }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}